<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/index.css"/>
      <title>BaHotH character tile selection</title>
  </head>

  <body>
    <div class="wrapper">
      <h1>Choose your character</h1>

      <form action="/character" method="post">
        <div class="flexContainer">

          <div class="character">
            <img src="/img/missy.png">
            <h2>Missy Dubourde</h2>
            <button name="characterNumber" value="1">Select</button>
          </div>

          <div class="character">
            <img src="/img/zoe.png">
            <h2>Zoe Ingstrom</h2>
            <button name="characterNumber" value="2">Select</button>
          </div>

          <div class="character">
            <img src="/img/darrin.png">
            <h2>Darrin "Flash" Williams</h2>
            <button name="characterNumber" value="3">Select</button>
          </div>

          <div class="character">
            <img src="/img/ox.png">
            <h2>Ox Bellows</h2>
            <button name="characterNumber" value="4">Select</button>
          </div>

          <div class="character">
            <img src="/img/brandon.png">
            <h2>Brandon Jaspers</h2>
            <button name="characterNumber" value="5">Select</button>
          </div>

          <div class="character">
            <img src="/img/peter.png">
            <h2>Peter Akimoto</h2>
            <button name="characterNumber" value="6">Select</button>
          </div>

          <div class="character">
            <img src="/img/madame.png">
            <h2>Madame Zostra</h2>
            <button name="characterNumber" value="7">Select</button>
          </div>

          <div class="character">
            <img src="/img/vivian.png">
            <h2>Vivian Lopez</h2>
            <button name="characterNumber" value="8">Select</button>
          </div>

          <div class="character">
            <img src="/img/father.png">
            <h2>Father Rhinehardt</h2>
            <button name="characterNumber" value="9">Select</button>
          </div>

          <div class="character">
            <img src="/img/professor.png">
            <h2>Professor Longfellow</h2>
            <button name="characterNumber" value="10">Select</button>
          </div>

          <div class="character">
            <img src="/img/jenny.png">
            <h2>Jenny LeClerc</h2>
            <button name="characterNumber" value="11">Select</button>
          </div>

          <div class="character">
            <img src="/img/heather.png">
            <h2>Heather Granville</h2>
            <button name="characterNumber" value="12">Select</button>
          </div>
        </div>
      </form>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
