<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tile.css"/>
    <title>Character tile</title>
  </head>
  <body>

    <div class="wrapper">
      <h1>BaHotH character tile</h1>

      <div class="meter">
        <div class="submeter speed">
          <button><</button>
          <div>0</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <button>></button>
        </div>
        <div class="submeter">
          <div>D</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
        </div>
      </div>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/tile.js"></script>
  </body>
</html>
